<div class="container"> 
  <b><%= @task.title %></b>
  <p><p><%= @task.body.capitalize %></p></p>
  <p>Time Left: <%= distance_of_time_in_words_to_now(@task.created_at + 7.days) %></p>
  <p>Task finished? <%= @task.complete %></p>
</div>

<!-- check out the parms passed using: <%= params %> -->