<div class="container"> 
  <b><%= @task.title %></b>
  <p><%= @task.body.capitalize %></p>
  <p> Due date: <%= @task.due_date %></p>
  <p> Task complete? <%= @task.complete %></p>
</div>

<!-- check out the parms passed using: <%= params %> -->