<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task_list.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @task_list.user.user_name %>
</p>

<p>
  <strong>Tasks</strong>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Days Left</th>
        <th>Complete</th>
        <th></th>
      </tr>
    </thead>

    <tbody>

      <% @tasks.each do |t| %>
       <tr>
          <td><%= link_to t.title, [@task_list, t] %></td>
          <td><%= distance_of_time_in_words_to_now(t.created_at + 7.days) %></td>
          <td><%= link_to 'Mark as complete', task_list_task_path(@task_list, t, completed: true), method: :patch, class: "btn btn-success" %></td>
          <td><%= link_to 'Delete', [@task_list, t], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        </tr>       
  <!-- above in words: grab a task and return title, and generate path using task_list & task -->
      <% end %>
    </tbody>
  </table>  
      
</p>  

<%= link_to "Add a Task", new_task_list_task_path(@task_list) %> | 
<%= link_to 'Edit', edit_task_list_path(@task_list) %> |
<%= link_to 'Back', task_lists_path %> 

